@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300;400;500&display=swap');

$backLinear: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
$cardColor: #A8C9EF;

@mixin cards {
    background-color: #ffffff;
    background-image: $backLinear;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

@mixin cardSizeResponsive {
    margin: 10px auto;
    width: 100%;
    box-sizing: border-box;
}

body,
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    @include cards;

    h1 {
        font-size: 2.3rem;
        color: aliceblue;
        font-weight: 400;
        letter-spacing: 0.5rem;
    }
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .current-weather {
        @include cards;


        height: 23rem;


        .bar {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            .dropdown {
                #selectFavorites {
                    width: 13rem;

                    &:first-child {
                        color: #757575;
                    }
                }
            }

            #searchInput {
                height: fit-content;
                width: 13%;
            }
        }

        .mainWeather {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $cardColor;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            padding: {
                top: 1rem;
                bottom: 1rem;
                left: 7rem;
                right: 7rem;
            }

            .mainTitle {
                display: flex;

                .weatherTitle{
                    align-items: baseline;

                    #cityCountry {
                        padding-top: 15%;
                                    }

                }
                
            }

            #favoriteButton {
                width: 100%;
                border: none;
                background-color: transparent;
                font-size: 1.5rem;
                font-weight: 500;
                color: black;
                padding: 10px;
                border-bottom: 2px solid transparent;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                width: fit-content;
                position: relative;
                grid-area: weatherIcon;

                i {
                    font-size: 2rem;
                }
            }

            h1 {
                font-size: 2rem;
                font-weight: 400;
            }

            .weatherInfo {
                display: grid;
                place-items: center;
                grid-template-columns: repeat(2, minmax(min-content, max-content));
                grid-template-rows: repeat(3, minmax(min-content, max-content));
                grid-template-areas:
                    "temp iconTemp"
                    "desc desc"
                    "minMax minMax"
                ;

                #cityTemperature {
                    grid-area: temp;
                    padding-left: 75%;
                    font-size: 100px;
                    font-size: 2.5rem;

                    .degree {
                        font-size: 1.7rem;
                    }

                }

                #cityWeatherCondition {
                    grid-area: desc;

                }

                .maxMin {
                    grid-area: minMax;
                }

                .icon {
                    grid-area: iconTemp;
                    padding-top: 25%;
                    padding-left: 17%;

                    img {
                        width: 68%;
                    }

                }
            }

            .weatherTitle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                #cityName {
                    font-size: 3rem;
                }

            }

        }

    }
}

footer {
    @include cards;
}

.daily {
    @include cards;
    align-items: normal;
    height: 15rem;
    position: relative;

    .rightArrow {
        position: absolute;
        left: 0;
        display: none;
        }

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;

        li {
            background-color: $cardColor;
            list-style: none;
            padding: 15px 0;
            height: 10rem;
            width: 16%;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            text-align: center;

            span {
                display: block
            }
            .bold {
                font-size: 1.3em;
            }
            img {
                height: 60%;
                margin: -15px auto;
            }
        }
    }
}

.hourly {
    @include cards;
    align-items: normal;
    height: 12rem;
    text-align: center;
    position: relative;

    .upArrow {
        position: absolute;
        top: -25px;
    }

    .showDate {
            font-size: 1.5em;
        }

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0 0;

        li {
            width: 10%;
            box-sizing: border-box;
            height: 150px;
            background-color: $cardColor;
            list-style: none;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            span {
                display: block;
            }

            img {
                width: 60%;
            }

            div {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.spinningCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6); 
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;

}

@media screen and (max-width:375px) {

    body {
        padding: 0 10px;
    }

    header {
        @include cardSizeResponsive;

        h1 {
        font-size: 1.1rem;
        }
    }

    main {
        .current-weather {
            @include cardSizeResponsive;
            height: auto;

            .bar {
                flex-direction: column-reverse;
                margin:  0 auto 10px;

                    .dropdown {

                        #selectFavorites {
                        display: block;
                        width: 205px;
                        margin: 5px auto;
                        }
                    }
                    
                    #searchInput {
                        width: 200px;
                        margin: 5px auto;
                    }
            }

            .mainWeather {
                width: 90%;
                padding: 10px;

                .weatherTitle{
                    
                    #cityName {
                        font-size: 2.3rem;
                    }
                }

                .weatherInfo {
                    width: 210px;
                    margin-bottom: 10px;
                    grid-template-columns: 70px 70px 70px;
                    grid-template-rows: 25px 25px;
                    place-items:end;
                    grid-template-areas:
                    "temp minMax iconTemp"
                    "temp minMax weatherName"
                    ;
                    #cityTemperature {
                        margin: 0 auto;
                        grid-area:temp;
                        padding-left:0;
                        font-size: 2rem;
                    }

                    #cityWeatherCondition {
                        font-weight:normal;
                        margin: 0 auto;
                        grid-area:weatherName;
                    }

                    .maxMin {
                        margin: 0 auto;
                        grid-area:minMax;

                        h3 {
                            font-weight:normal;
                        }
                    }

                    .icon {
                        height: 100%;
                        padding: 0;
                        grid-area:iconTemp;

                        #weatherIcon {
                            display: block;
                            margin: -5px auto 0;
                        }
                    }
                }
            }
        }
    }
    
    .daily, .hourly {
        @include cardSizeResponsive;
        height: auto;
        
        ul {
            display: block;
            padding: 0;

            li {
            box-sizing: border-box;
            width:100%;
            height: 50px;
            margin: 10px auto;
            }
        }
    }

    .daily {
        .rightArrow {
            display: block;
            }
            ul {

                li {
                    padding: 0;
                    height: auto;
                    span {
                        display: inline;
                        padding: 0 5px;
                        
                    }
                    .bold {
                        font-size: 1.3em;
                        
                    }
                    img {
                        width: 27%;
                        vertical-align: middle;
                    }

                    div {
                        vertical-align: middle;
                        display: inline-block;
                        width: fit-content;
                        span {
                            display: block;
                        }
                    }
                }
            }
            
    }

    .hourly {

        .upArrow {
            display: none;
            }

        .showDate {
            padding: 0;
        }

        ul{
            li{
                div{
                    height: 100%;
                    position: relative;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    img {
                        height: 90%;
                        width: auto;
                        }
                }
            }
        }
    }

    footer {
        @include cardSizeResponsive;

        c {
        font-size: 0.7rem;
        }
    }
    
}