@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300;400;500&display=swap');

$backLinear: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
$cardColor: #A8C9EF;

@mixin cards {
    background-color: #ffffff;
    background-image: $backLinear;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

body,
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    @include cards;

    h1 {
        font-size: 2.3rem;
        color: aliceblue;
        font-weight: 400;
        letter-spacing: 0.5rem;
    }
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .current-weather {
        @include cards;


        height: 23rem;


        .bar {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            .dropdown {
                #selectFavorites {
                    width: 13rem;

                    &:first-child {
                        color: #757575;
                    }
                }
            }

            #searchInput {
                height: fit-content;
                width: 13%;
            }
        }

        .mainWeather {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $cardColor;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            padding: {
                top: 1rem;
                bottom: 1rem;
                left: 7rem;
                right: 7rem;
            }

            .mainTitle {
                display: flex;

                #cityCountry {
                    padding-top: 15%;
                }
            }

            #favoriteButton {
                width: 100%;
                border: none;
                background-color: transparent;
                font-size: 1.5rem;
                font-weight: 500;
                color: black;
                padding: 10px;
                border-bottom: 2px solid transparent;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                width: fit-content;
                position: relative;
                grid-area: weatherIcon;

                i {
                    font-size: 2rem;
                }
            }

            h1 {
                font-size: 2rem;
                font-weight: 400;
            }

            .weatherInfo {
                display: grid;
                place-items: center;
                grid-template-columns: repeat(2, minmax(min-content, max-content));
                grid-template-rows: repeat(3, minmax(min-content, max-content));
                grid-template-areas:
                    "temp iconTemp"
                    "desc desc"
                    "minMax minMax"
                ;

                #cityTemperature {
                    grid-area: temp;
                    padding-left: 75%;
                    font-size: 100px;
                    font-size: 2.5rem;

                    .degree {
                        font-size: 1.7rem;
                    }

                }

                #cityWeatherCondition {
                    grid-area: desc;

                }

                .maxMin {
                    grid-area: minMax;
                }


                .icon {
                    grid-area: iconTemp;
                    padding-top: 25%;
                    padding-left: 17%;

                    img {
                        width: 68%;
                    }

                }
            }

            .weatherTitle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                #cityName {
                    font-size: 3rem;
                }

            }

        }

    }
}

footer {
    @include cards;
}


.daily {
    width: 90%;

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;

        li {
            background-color: $cardColor;
            list-style: none;
            padding: 10px;
            height: 10rem;
            width: 10rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.hourly {
    width: 90%;

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;

        li {
            box-sizing: border-box;
            height: 200px;
            background-color: $cardColor;
            list-style: none;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
}


.hourly ul li {
    width: 11%;
}

.hourly {
    background-color: aquamarine;
    text-align: center;

    div {
        background-color: cadetblue;
        padding-top: 10px;
        font-size: 1.5em;
    }

    ul {
        padding-top: 7px;
    }
}

.daily {
    background-color: #ffffff;
    background-image: $backLinear;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15rem;
}

.hourly {
    background-color: #ffffff;
    background-image: $backLinear;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15rem;
}




.spinningCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6); 
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;

}